#title{
    color: red;
}

#Description{
    color: red;
}

#FirstOne{
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    border-color: red;
 background-color: rgb(0, 166, 255);
    

}
